apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: chalupa-bot-prod-deployment
  namespace: flux-system
spec:
  images:
  - name: ghcr.io/olivercodes/chalupa-bot
    newTag: release-0.1.1 # {"$imagepolicy": "flux-system:chalupa-bot-prod-image-policy:tag"}
    newName: ghcr.io/olivercodes/chalupa-bot # {"$imagepolicy": "flux-system:chalupa-bot-prod-image-policy:name"}
  interval: 1m
  path: "./manifests"
  prune: true
  targetNamespace: chalupa-bot-prod
  sourceRef:
    kind: GitRepository
    name: chalupa-bot
    namespace: flux-system
